.form {
  padding: 1rem;
  text-align: center;
  margin-bottom:5px;
}
.form .entry {
  display: inline-block;
  margin: 0px 10px;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: Medium;
  font-weight: bold;
  text-align:left;
}

input, select {
  display: block;
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: medium;
}
